body {
  display: grid;
  place-content: center;
  padding: 1rem;
  row-gap: 0.8rem;
  background-color: aliceblue;
}

h1 {
  font-size: 4em;
  letter-spacing: 0.3rem;
  color: rgb(29, 29, 83);
}

.inputtext {
  border-radius: 9px;
  border-width: medium;
  border-color: rgb(29, 29, 83);
  background-color: rgb(237, 236, 236);
  padding: 0.5rem;
}

.inputtext::placeholder {
  font-weight: lighter;
}

button {
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: large;
  background-color: transparent;
  color: rgb(29, 29, 83);
  border-radius: 7px;
  margin: auto;
  cursor: pointer;
}
